*~
Makefile
Makefile.in*
po/*.mo
po/*.sed
po/*.sin
po/*.header
ABOUT-NLS
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
m4/
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-po
