*~
Makefile
Makefile.in
!po/Makefile.in
po/*.gmo
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
po/Makevars.template
po/POTFILES
po/stamp-po

m4/
!m4/gettext.m4
!m4/nls.m4
!m4/po.m4
