Source: gmtkbabel
Section: utils
Priority: optional
Maintainer: David Paleino <dapal@debian.org>
Build-Depends: debhelper
 , gettext
Standards-Version: 3.9.1
Homepage: http://dpaleino.github.com/gmtkbabel
Vcs-Git: git://github.com/dpaleino/gmtkbabel.git
Vcs-Browser: http://github.com/dpaleino/gmtkbabel

Package: gmtkbabel
Architecture: all
Depends:
 ${misc:Depends}
 , zenity
 , mtkbabel
Description: graphical interface for mtkbabel
 gmtkbabel consists of a set of shell scripts which use zenity to
 provide a graphical user interface to mtkbabel. Mtkbabel is a
 command-line tool to operate GPS-unit with MTK (Mediatek) chipsets.
